appconnectorGet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:Afas.Profit.Services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:Afas.Profit.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:Afas.Profit.Services">
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filtersXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="skip" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="take" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataWithOptions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filtersXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="skip" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="take" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="options" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataWithOptionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataWithOptionsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataWithOptionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataWithOptions" />
  </wsdl:message>
  <wsdl:message name="GetDataWithOptionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataWithOptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ConnectorAppGetSoap">
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataWithOptions">
      <wsdl:input message="tns:GetDataWithOptionsSoapIn" />
      <wsdl:output message="tns:GetDataWithOptionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConnectorAppGetSoap" type="tns:ConnectorAppGetSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="urn:Afas.Profit.Services/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataWithOptions">
      <soap:operation soapAction="urn:Afas.Profit.Services/GetDataWithOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConnectorAppGetSoap12" type="tns:ConnectorAppGetSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="urn:Afas.Profit.Services/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataWithOptions">
      <soap12:operation soapAction="urn:Afas.Profit.Services/GetDataWithOptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectorAppGet">
    <wsdl:port name="ConnectorAppGetSoap" binding="tns:ConnectorAppGetSoap">
      <soap:address location="https://49996.afasonlineconnector.nl/profitservices/appconnectorGet.asmx" />
    </wsdl:port>
    <wsdl:port name="ConnectorAppGetSoap12" binding="tns:ConnectorAppGetSoap12">
      <soap12:address location="https://49996.afasonlineconnector.nl/profitservices/appconnectorGet.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>